.DS_Store
/node_modules
/public/hot
/public/storage
/public/attached_images
/storage/*.key
/storage/*.csv
/storage/framework/laravel-excel/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.php_cs.cache
/documentation
public/js/app.js
public/css/app.css
composer.lock
package-lock.json
