@font-face {
    src: url(fonts/calibri-bold.ttf);
    font-family: cali-bold;
}

@font-face {
    src: url(fonts/calibri-regular.ttf);
    font-family: cali-reg;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

table tr td {
    font-size: 12px;
}

table tr td input {
    border-style: hidden;
    border-bottom: 1px solid #000;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

.id2 {
    font-size: 17px;
}

.info-table tr td {
    padding: 1.5px 0;
}

.aster {
    color: red;
    font-size: 18px;
}
