
#idOne {
    font-family: cali-bold;
    font-weight: bold;
}

.title img {
    width: 540px;
    margin-left: 16px;
    margin-right: 20px;
    margin-top: 35px;
}

#idOne {
    font-family: cali-bold;
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin-top: 8%;
    margin-left: 22%;
    text-decoration: underline;
}

.container {
    background-color: #FFFFFF;
    width: fit-content;
    width: 950px;
}

.boxNew {
    width: 100%;
    height: 121px;
    padding-top: 6px;
    display: flex;
}

.logoNew img {
    margin-left: 120%;
    padding-top: 50px;
    height: 160px;
    width: 250px;
}

.form-new img {
    width: 180px;
    height: 162px;
    float: left;
    margin-left: 380px;
    margin-top: 4%;
}

.form-new p {
    float: right;
    margin-right: 160px;
    text-align: center;
    width: 120px;
}
.form-new p>span {
    display:row;
    border-bottom: dotted 1px;
    width:115px;
}

.renewal-form {
    align-items: center;
    margin-top: 0%;
    padding: 20px;
}

/* .renewal-form{
  margin-top: 0%;
} */

.headline {
    margin-top: 20%;
    margin-left: 32%;
}

.headline h3 {
    margin-left: 20px;
    font-weight: 650;
    font-size: 17px;
}

.headline span {
    font-size: 16px;
    font-weight: 650;
    margin-left: -30%;
}

/* box1 */

.box1 {
    display: inline;
    flex-direction: row;
}

.box1 div {
    margin-left: 6px;
    margin-bottom: 4px
}

span.a {
    display: inline-block;
    width: 465px;
    height: 25px;
    margin-top: 2px;
    border-bottom: dotted 1px;
    border-bottom-color: #808B96;
}


/* box2 */

.box2 {
    display: inline;
    flex-direction: row;

}

.box2 div {
    margin-left: 8px;
    margin-bottom: 4px
}

span.b {
    display: inline-block;
    width: 415px;
    height: 25px;
    margin-top: 2px;
    border-bottom: dotted 1px;
    border-bottom-color: #808B96;
}

.box2 .voter-sectitle {
    margin-bottom: 1%;
}


/* box3 */
.box3 {
    display: inline;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 1%;
}

.box3 div {
    margin-left: 9px;
    margin-bottom: 5px
}


span.c {
    display: inline-block;
    width: 280px;
    height: 25px;
    margin-top: 2px;
    border-bottom: dotted 1px;
    border-bottom-color: #808B96;
}

/* box4 */
.box4 {
    display: inline;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 1%;
}

.box4 div {
    margin-left: 11px;
    margin-bottom: 5px
}

.box4 span{
    margin-left: 1.5%;
    text-decoration: underline;  
    text-decoration-color: #808B96;
    font-size:14px;
    text-decoration-style: dotted;
    text-underline-offset: 5px;
    text-decoration: 1px underline dotted #808B96;
    /* text-decoration: underline dotted #808B96; */
  }

  /* .box5 input { */
    /* border:2px #808B96; */
    /* border-bottom-style: dotted; */
    /* margin-left: 1%;
    width: 61%;
    text-decoration: underline dotted #808B96; 
    text-decoration-thickness: auto;
} */

/* span.address {
    display: inline-block;
    width: 725px;
    height: 25px;
    margin-top: 2px;
    border-bottom: dotted 1px;
    border-bottom-color: #808B96;
} */

span.d {
    display: inline-block;
    width: 565px;
    height: 25px;
    margin-top: 2px;
    border-bottom: dotted 1px;
    border-bottom-color: #808B96;
}


/* box5 */

.box5 {
    display: inline;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 1%;
}

.box5 div {
    margin-left: 11px;
    margin-bottom: 5px
}


span.e {
    display: inline-block;
    width: 326px;
    height: 25px;
    margin-top: 2px;
    border-bottom: dotted 1px;
    border-bottom-color: #808B96;
}


/* box6 */
.box6 {
    display: inline;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 1%;
}

.box6 div {
    margin-left: 1.5%;
    margin-bottom: 5px
}

span.f {
    display: inline-block;
    width: 322px;
    height: 25px;
    margin-top: 2px;
    border-bottom: dotted 1px;
    border-bottom-color: #808B96;
}


.particulars {
    padding-top: 122px;
    margin-left: 87px;
}

.voter-sign {
    /* padding-top: 10px; */
    float: right;
    margin-right: 135px;
    text-align: center;
}

.voter-sign img {
    height: 50px;
    margin-left: 10%;
}

.sign {

}


.sign-managing {
    padding-top: 0px;
}

.sign-managing img {
    height: 56px;
    margin-left: 10%;
}

.sign-managing p {
    margin-left: 37px;
}


.box7 {
    display: inline;
    flex-direction: row;
}

.box7 div {
    margin-left: 37px;
    margin-bottom: 4px
}


span.g {
    display: inline-block;
    width: 240px;
    height: 25px;
    margin-top: 2px;
    border-bottom: dotted 1px;
    border-bottom-color: #808B96;
}

.box8 {
    display: inline;
    flex-direction: row;
}

.box8 div {
    margin-left: 37px;
    margin-bottom: 4px;
}

span.h {
    display: inline-block;
    width: 230px;
    height: 25px;
    margin-top: 2px;
    border-bottom: dotted 1px;
    border-bottom-color: #808B96;
}

.box9 {
    display: inline;
    flex-direction: row;
}

.box9 div {
    margin-left: 37px;
    margin-bottom: 4px;
    display: flex;
}



span.i {
    display: inline-block;
    width: 276px;
    height: 25px;
    margin-top: 2px;
    border-bottom: dotted 1px;
    border-bottom-color: #808B96;
}

.box9 p{
    margin-left: 25%;
    /* display: flex; */
    font-size: 14px;
    margin-top: 12px;
}

/* .box9 input{
   border:2px #808B96;
   border-bottom-style: dotted;
   margin-left: 1%;
   width: 66%;
} */

/* .box10 p {
    float: right;
    margin-right: 200px;
} */

.nbrequired span {
    margin-left: 38px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
}

.list li {
    margin-left: 45px;
    list-style-type: none;
}


.sign-field {
    display: flex;
    justify-content: left;
    font-size: 14px;
}

.first-sign {
    display: flex;
    flex-direction: column;
    padding-right: 200px;
}

.second-sign {
    display: flex;
    flex-direction: column;
    padding-right: 130px;
}


